.main {
    padding-top: 0;
    margin: 0 auto;
    padding: 0;
    min-height: calc(100vh - 180px);
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}