.main {
    width: auto;
    padding-top: calc(6.48148vh + 2.08333vw + 15rem);
    min-height: calc(100vh - 180px);
    position: relative;
    text-align: center;
    width: 100%;
}
.title{
    
}
.title_inner{

    .title_inner_text{
        font-size: 2.4rem;
        color: #b2b4ff;
    }
    .title_inner_logo{

    }
}