* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    width: 100%;
    height: 100%;

}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 130%;
}

.flex{
    display: flex;
}


#fp-nav ul li a span{
    background: rgb(255, 255, 255)
}

.header-top {
    width: 100%;
    height: 32px;
    position: fixed;
    justify-content: right;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0);
}
.header-top ul {
    display: flex;
    margin: 5px 20px 5px 0px;
}
.header-top ul li {
    margin: 0 20px;
    list-style: none;
    font-size: 10px;
    color: #aaaaaa;
}

.header-top ul li a {
    text-decoration: none;
    color: #aaaaaa;
}

.header-top ul li a .favicon{
    color: #aaaaaa;
    width: 10px;
    height: 10px;
}

.header-top ul li a:visited{
    color: #aaaaaa;
}

#header-top2 {
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 32px;
    font-size: large;
    z-index: 999;
    justify-content: space-around;
    width: 100%;
    position: fixed;
}

#header-top2 .menu {
    padding: 0;
    display: flex;
    justify-content: center;
}

#header-top2 .menu li {
    display: inline;
    margin: 0 30px;
    list-style: none;
}

#header-top2 .menu li a{
    display: inline-block;
    padding: 15px 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}

#header-top2 .menu li a:visited{
    color: #ffffff;
}

#header-top2 .menu li.active a{
    color: #ff6e9a;
    font-weight: 800;
}

#header-top2 .mNav{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: solid 1px white;
    border-radius: 50%;
    top: 2.2rem;
    right: 2rem;
    display: none;
    background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 810px){
    #header-top2 .menu {
        display : none;
    }
    #header-top2 .mNav {
        display: block;
    }
    .wrapper .img-logo {
        width: 80%;
    }
    .wrapper .img-styles{
        width: 80%;}
}
#header-top2 .mNav .icon{
    justify-content: center;
}
#header-top2 .mNav .icon img{
    position: relative;
    left: 0.3rem;
    top: 0.2rem;
    width: 70%;
    height: 40%;
}
#section1{
    width: 100%;
    height: 100%;
}

#section1 .fp-bg {
    height: 100%;
    background: linear-gradient(rgba(255, 166, 0, 0.884), rgba(255, 238, 0, 0.829)),url("https://i.ibb.co/2jjkysJ/SSI-20220929143941-O2.jpg");
    background-size: cover;
    overflow: hidden;

}

#section1 .wrapper {
    width: 60%;
    max-width: 64rem;
    min-width: 24rem;
    height:100%;
    position: relative;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 .wrapper .img-logo {
    margin-top: 200px;
    position: relative;
    z-index: 3;
    width: 35%;
    transition: all .3s .5s;
}

#section1 .wrapper .img-logo.active {
    transform: translateY(-10rem);
}
#section1 .wrapper .img-styles {
    position: relative;
    z-index: 3;
    width: 40%;
}

/* /* @media screen and (min-width: 1025px){
.wrapper .img-logo {
    width: 100%;}
.wrapper .img-styles {
    width: 50%;}
} */


#section1 .wrapper button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius : 30px;
    width: 8rem;
    height: 3rem;
    margin-left: 0;
    margin-top: 2rem;
    justify-content: center;
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
}
#section1 .wrapper button:hover {
    background-color: rgb(211, 211, 211);
}
#section1 .wrapper button:active{
    background-color: rgb(129, 129, 129);
    color: #ffffff;
}

#section1 .wrapper .low_notice {
    width: 100%;
    height: auto;
    margin-top: 100px;
    border: none;
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-size: 1.3rem;
    color: rgb(63, 63, 63);
}
#section1 .wrapper .low_notice a {
    display: inline-block;
    margin-left: 20px;
    color: rgb(39, 39, 39);
    text-decoration: none;
}
#section1 .wrapper .low_notice a.visited {
    color: rgb(151, 136, 0)
}

#section2 .fp-bg {
    height: 100vh;
    background: linear-gradient(rgba(255, 154, 63, 0.9), rgba(255, 74, 64, 0.9)),url("https://img.etnews.com/news/article/2024/01/11/news-p.v1.20240111.72d99884c7f84ee5b5400244fc9d56c9_P1.jpg");
    background-size: cover;
    overflow: hidden;
}

#section2 .wrapper {
    width: 60%;
    max-width: 64rem;
    min-width: 24rem;
    height:100%;
    position: relative;
    margin: auto;
    flex-direction: column;
}

#section2 .wrapper .main_map_menu{
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1200px;
} 

#section2 .wrapper .main_map_menu .tab {
    padding: 8rem 0 0 0;
    left: 0;
}

#section2 .wrapper .main_map_menu .tab li {
    margin-left: 0;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
    margin-right: 1.5rem;
}
#section2 .wrapper .main_map_menu .tab li .selectCul{
    opacity: 0;
    border: 0;
    width: 0;
    height: 0;
}

input[type=checkbox]:checked+label{
    font-weight: 900;
    font-size: 1.3rem;
    color: #0019c1;
}

#section2 .tab li{
    display: inline;
}

#section2 .wrapper .map_wrap {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 0.6rem;
    top: 1rem;
    max-width: 64rem;
    max-height: 40rem;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

#map{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.6rem;
}

.map_search {
    width: 100%;
    height: 20%;
    margin-top: 2rem;
    max-width: 64rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #ffffff;
    margin-bottom: 2rem;
}

.map_search .map_sm_box {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px;
}

.map_search .map_sm_box .cal_box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow:hidden;
    flex-wrap: nowrap;
}

.map_search .map_sm_box .cal_box .pic{
    width: 50%;
    height: 100%;
    margin-right: 2rem;
    min-width: 15rem;
    max-width: 25rem;
    background-color: rgb(236, 236, 236);
    border: 0.5px solid #cfcfcf;
    border-radius: 0.4rem;
}

.map_search .map_sm_box .cal_box a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 12rem;
    margin-bottom: 0.3rem 0;
}

.map_search .map_sm_box .cal_box a:visited{
    color: black;
}

.map_search .map_sm_box .cal_box h2{
    margin: 0 0 1.2rem 0;
    width: 50%;
    font-size: 1.2rem;
}

.map_search .map_sm_box .icon{
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.map_search .map_sm_box .icon span{
    margin: 0.7rem 0 0 0;
    font-size: 0.9rem;
    margin-right: 1rem;
}

.map_search .map_sm_box .txt_box{
    text-overflow: ellipsis;
    font-size: small;
    margin: 0;
    padding: 0;
    margin: 0;
}

.map_search .map_sm_box .txt_box p{
    margin: 0;
}

#section3 .fp-bg {
    height: 100vh;
    background: linear-gradient(rgba(64, 175, 255, 0.7), rgba(63, 97, 255, 0.7) ),url("https://image.jtbcplus.kr/data/contents/jam_photo/201909/27/fb92291f-371f-4cb3-af3c-83b650801d3b.jpg");
    background-size: cover;
    overflow: hidden;
}

#section3 .wrapper {
    max-width: 64rem;
    min-width: 24rem;
    height:100%;
    position: relative;
    margin: auto;
    flex-direction: column;
}


.place {
    max-width: 48rem;
    margin: auto;
}

.place_title {
    font-size: 1.3rem;
    margin: 8rem 0.5rem 1.8rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 500;
}

.place_container {
    justify-content: space-between; /*양 끝 정렬*/
    flex-wrap: wrap; /*개체가 많아지면>>여러 줄로 변형 가능하도록*/
}


.place_item {
    padding: 1.2rem;
    flex-basis: 48%; /*전체 화면 크기의 48% 이용 양쪽 사진 크기 같게*/
    background-color: #ffffff;
    border-radius: 0.4rem;
    box-shadow:2px 3px 8px 0px rgba(180, 180, 180, 0.288);
    margin-bottom: 1rem;
}

.place_thumb {
    margin-right: 1.2rem;
    min-width: 7rem;
    min-height: 7rem;
    border: 0.5px solid #cfcfcf;
    border-radius: 0.4rem;
    background-color: rgb(236, 236, 236);
}

.place_content {
    margin-left: 1rem;
    justify-content: space-around;
}

.place_content_title {
    line-height: 1.3;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.place_content_subjcode {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    padding-bottom: 0;
}

.place_content_date {
    line-height: 1.4;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgb(108, 108, 108);
}

.place_content_addr {
    line-height: 1.4;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgb(108, 108, 108);
}
.place_content_hompage {
    line-height: 1.4;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgb(108, 108, 108);
}

@media screen and(max-width: 768) {
    .place {
    padding: 0.1rem 1.25rem;
    }
    .place_title {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 2.5rem 0 1.5rem;
    }
    .place_container {
    display: block;
    }
}

#section4 .fp-bg {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url("https://www.sejongpac.or.kr/static/organization/img/main/1-00.jpg");
    background-size: cover;
    overflow: hidden;
}

#section4 .wrapper {
    max-width: 64rem;
    min-width: 24rem;
    height:100%;
    position: relative;
    margin: auto;
    flex-direction: column;
}

.concert {
    max-width: 48rem;
    margin: auto;
}

.concert_title {
    font-size: 1.3rem;
    margin: 8rem 0.5rem 1.8rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 500;
}

.concert_container {
    justify-content: space-between; /*양 끝 정렬*/
    flex-wrap: wrap; /*개체가 많아지면>>여러 줄로 변형 가능하도록*/
}


.concert_item {
    padding: 1.2rem;
    flex-basis: 48%; /*전체 화면 크기의 48% 이용 양쪽 사진 크기 같게*/
    background-color: #ffffff;
    border-radius: 0.4rem;
    box-shadow:2px 3px 8px 0px rgba(180, 180, 180, 0.288);
    margin-bottom: 1rem;
}

.concert_thumb {
    margin-right: 1.2rem;
    min-width: 7rem;
    min-height: 7rem;
    border: 0.5px solid #cfcfcf;
    border-radius: 0.4rem;
    background-color: rgb(236, 236, 236);
}

.concert_content {
    margin-left: 1rem;
    justify-content: space-around;
}

.concert_content_title {
    line-height: 1.3;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.concert_content_date {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    padding-bottom: 0;
}

.concert_content_place {
    line-height: 1.4;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgb(108, 108, 108);
}

.concert_content_time {
    line-height: 1.4;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgb(108, 108, 108);
}

@media screen and(max-width: 768) {
    .concert {
    padding: 0.1rem 1.25rem;
    }
    .concert_title {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 2.5rem 0 1.5rem;
    }
    .concert_container {
    display: block;
    }
}

#section5 .fp-bg {
    height: 100vh;
    background: linear-gradient(rgba(130, 177, 0, 0.9), rgba(151, 134, 0, 0.7)),url("https://www.jrbeetle.com/ko/wp/wp-content/themes/jrbeetle/img/reserve1.jpg");
    background-size: cover;
    overflow: hidden;
}

#section5 .wrapper {
    max-width: 64rem;
    min-width: 24rem;
    height:100%;
    position: relative;
    margin: auto;
    flex-direction: column;
}

.reserv {
    max-width: 48rem;
    margin: auto;
}

.reserv_title {
    font-size: 1.3rem;
    margin: 8rem 0.5rem 1.8rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 500;
}

.reserv_search {
    width: auto;
    height: auto;
    margin-top: 1rem;
    max-width: 64rem;
    border: none;
    border-radius: 0.6rem;
    overflow: auto;
    margin-bottom: 2rem;
    flex-direction: column;
}

.reserv_search .reserv_sm_box {
    background-color: #ffffff;
    width: 100%;
    height: 12rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.6rem;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px;
}

.reserv_search .reserv_sm_box .cal_box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow:hidden;
    flex-wrap: nowrap;
}

.reserv_search .reserv_sm_box .cal_box .pic{
    width: 50%;
    height: 100%;
    margin-right: 2rem;
    max-width: 25%;
    min-width: 20%;
    background-color: rgb(236, 236, 236);
    border: 0.5px solid #cfcfcf;
    border-radius: 0.4rem;
}

.reserv_search .reserv_sm_box .cal_box a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 12rem;
    margin-right: 1rem;
}

.reserv_search .reserv_sm_box .cal_box a:visited{
    color: black;
}

.reserv_search .reserv_sm_box .cal_box h2{
    margin: 0.7rem 0 1.2rem 0;
    width: 50%;
    font-size: 1.2rem;
}

.reserv_search .reserv_sm_box .icon{
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.reserv_search .reserv_sm_box .icon span{
    margin: 0.7rem 0 0 0;
    font-size: 0.9rem;
    margin-right: 1rem;
}

.reserv_search .reserv_sm_box .txt_box{
    text-overflow: ellipsis;
    font-size: small;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
}


#section6 .fp-bg {
    height: 100vh;
    background: linear-gradient(rgba(0, 65, 106, 0.9), rgba(156, 190, 224, 0.6) ),url("https://data.seoul.go.kr/resources/img/guide/pic_openapi.jpg");
    background-size: cover;
    overflow: hidden;
}

#section6 .wrapper {
    max-width: 64rem;
    min-width: 24rem;
    height:100%;
    position: relative;
    margin: auto;
    flex-direction: column;
}

.data {
    max-width: 48rem;
    margin: auto;
}

.data_title {
    font-size: 1.3rem;
    margin: 8rem 0.5rem 1.8rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 500;
}




footer {
    align-items: center;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.footer_nav {
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 8rem;
    padding: 2rem;
}

.footer_nav ul {
    padding: 0 0 0 1rem;
    margin: 0;
    list-style-type: none;
    color: #999999;
}

.footer_nav ul li {
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.footer_nav ul li a{
    text-decoration: none;
}
.footer_nav ul .footer_imp{
    text-decoration: none;
    color: #1b1b1b;
    font-weight: 900;
}

.footer_nav ul .footer_imp:hover{
    color: #000000;
}

.footer_nav ul li a:visited{
    color: #666666;
}
.footer_nav ul li a:hover{
    font-weight: 700;
}
.footer_nav ul li a:active{
    color: #383838;
    font-weight: 700;
}

.footer_bar {
    justify-content: center;
    align-items: center;
    display: flex;
    border: #666666 solid 0.1rem;
    border-radius: 1.5rem;
    width: 8rem;
    height: 3rem;
    right: 0;
    color: #666666;
    font-size: 1rem;
    font-weight: 500;
}
.footer_bar:hover{
    background-color: #7e7e7e;
    color: #000000;
}
.footer_bar:active{
    background-color: #888888;
}

.footer_bar a{
    text-decoration: none;
}

.footer_bar a:visited{
    color: #666666;
}
