
/* 헤더 스타일 */
.header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 헤더 박스 1 스타일 */
.header-box1 {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.header-box1 a {
  color: white;
  text-decoration: none;
}

/* 헤더 박스 2 스타일 */
.header-box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box2-left,
.header-box2-center,
.header-box2-right {
  display: flex;
  gap: 10px;
}

.header-box2-left img {
  width: 100px;
  height: 50px;
}

.header-box2-left span {
  color: #5f0080;
}

.header-box2-center input[type="text"] {
  width: 200px;
}

.header-box2-right img {
  width: 30px;
  height: 30px;
}