<!DOCTYPE html>
<html>
  <head>
    <title>Insert Page</title>
    <link rel="stylesheet" type="text/css" href="insert.css" />
  </head>
  <body>
    <h1>Insert Page</h1>
    <hr />
    <section>
      <form class="insert" method="post">
        <div class="formContent">
          <label for="title">번호</label>
          <input type="text" id="bookid" name="bookid" required />
          <br />
          <label for="title">책이름</label>
          <input type="text" id="bookname" name="bookname" required />
          <br />
          <label for="title">출판사</label>
          <input type="text" id="publisher" name="publisher" required />
          <br />
          <label for="title">가격</label>
          <input type="text" id="price" name="price" required />
          <br />
        </div>
        <input type="submit" class="insertBtn" value="완료" />
      </form>
    </section>
  </body>
</html>
