$footerHeight: 100px;

.footer {
    height: $footerHeight;
    position: relative;
    margin-top: $footerHeight;
    background-color: #dde0ea;

    .content {
        width: 96%;
        max-width: 1100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .inner_content {
            width: 96%;

            .title {
                font-size: 20px;
                font-weight: 600;
            }        
        }
    }   
}