    <header>
        <div>
            <a class="material-symbols-outlined" href="/">left_arrow 목록</a>
        </div>
        <div class="header-details-white">
            <a class="material-symbols-outlined" href="/">home</a>
            <a class="material-symbols-outlined" href="">search</a>
            <a class="string" href="/logout">로그아웃/a>
        </div>
    </header>