    <header>
        <div>
            <a href="/"><img src="https://ifh.cc/g/AYzQoY.png" alt="10823"></a>
        </div>
        <div class="header-details">
                <a class="string" href="/login">로그인</a>
        </div>
    </header>