    <header>
        <div>
            <a href="/"><img src="https://ifh.cc/g/AYzQoY.png" alt="10823"></a>
        </div>
        <div class="header-details cookie1">
            <a class="material-symbols-outlined" href="/">home</a>
            <a class="material-symbols-outlined" href="">search</a>
            <a class="string" href="logout">로그아웃</a>
        </div>
    </header>