<div class="low-menu">
    <div class="low-menu-details">
        <a class="material-symbols-outlined" href="/">home</a>
        <a class="material-symbols-outlined" href="#">search</a>
        <a class="material-symbols-outlined" id="add" href="plus">add_circle</a>
        <a class="material-symbols-outlined" href="articleList">bookmark</a>
        <a class="material-symbols-outlined" href="#">menu </a>
    </div>
</div> 