<!DOCTYPE html>
<html>
  <head>
    <title>Update Page</title>
    <link rel="stylesheet" type="text/css" href="../update.css" />
  </head>
  <body>
    <h1>Update Page</h1>
    <hr />
    <section>
      <form class="insert" method="post">
        <div class="formContent">
          <label for="title">번호</label>
          <input
            type="text"
            name="bookid"
            value="<%= item.bookid %>"
            disabled
          />
          <br />
          <label>책이름</label>
          <input type="text" name="bookname" value="<%= item.bookname %>" />
          <br />
          <label>출판사</label>
          <input type="text" name="publisher" value="<%= item.publisher %>" />
          <br />
          <label>가격</label>
          <input name="price" value="<%= item.price %>" /> <br />
        </div>
        <input type="submit" class="insertBtn" value="완료" />
      </form>
    </section>
  </body>
</html>
