<%- include('header.ejs') %>
<form method="post">
<input type="text" placeholder="이름를 입력하세요" name="name" /></input>
<input type="number" placeholder="나이를 입력하세요" name="age" /></input>
<input type="submit" placeholder="전송"/>
</form>
<%- include('footer.ejs') %>
