<%- include('header.ejs') %>
<table>
    <th>이름</th>
    <th>이메일</th>
    <th>전화번호</th>
    <tr>
        <td>김의현</td>
    </tr>
    <tr>
        <td>dmlxld@gmail.com</td>
    </tr>
    <tr>
        <td>010-1234-1123</td>
    </tr>
</table>
<%- include('footer.ejs') %>
