<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>์๋ํ์ธ์. <%= name %>์๋๋ค!</h1>
    <% if(age >= 30) { %>
    <h1>์๋ <%= age %>์ด ์๋๋ค๐</h1>
    <% } else if(age >= 20) { %>
    <h1>์๋ 20๋ ์๋๋ค๐</h1>
    <% } else if(age >= 10) { %>
    <h1>์๋ 10๋ ์๋๋ค๐</h1>
    <% } %>
</body>
</html>