
.TodoListitem {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 223, 223);

    &:nth-child(even){
        background-color: rgb(243, 243, 243)
    }
}

.todo {
    display: flex;

    .checkbox {
        width: 1rem;
        height: 1rem;
    }
    .text {
        margin-left: 10px;
    }
}

.remove {
    color: #62727b;
    font-size: 1.2rem;
    cursor: pointer;
    
    &:hover {
        color: #383838;
    }
}